:root {
  --primary-title-color: #d41443;
  --secondary-title-color: #ffa5ba;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-hero-color: #ffb8ca;
  --background-secondary-color: #fff5f6;
  --card-coffee-color: #f0d1a5;
  --card-green-color: #c2e297;
  --social-links-color: #fea5bb;
  --text-color: #907e82;
  --point-color: #c7133e;
  --house-color: #d31342;
  --background-comment-color: #fafafa;
  --secondary-comment-color: #e1e1e1;
  --border-color: 1px solid #e1e1e1;
  --modal-border-color: 1px solid #e18298;
  --grey-button-hover-color: #ecebeb;
}
