<section id="about-us" class="about section">
  <div class="container">
    <p class="suptitle-theme-about">tradition and love</p>
    <h2 class="title-theme-about">how it’s made?</h2>

    <div class="about-wrapper">
      <div class="picture">
        <picture class="about-img-list_picture">
          <source
            srcset="
              ./images/how-its-made/home-pic4-desktop-1x.png 1x,
              ./images/how-its-made/home-pic4-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/how-its-made/home-pic4-tablet-1x.png 1x,
              ./images/how-its-made/home-pic4-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/how-its-made/home-pic4-mob-1x.png 1x,
              ./images/how-its-made/home-pic4-mob-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="about-img-list-img" srs="#" alt="фото коровы с кувшином" />
        </picture>
      </div>
      <div class="about-right-side">
        <p class="description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="description about-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.<br />
          <span class="about-text_item">Aliquam erat volutpat. Aenean accumsan.</span>
        </p>

        <button class="modal-btn-about" type="button">
          Read more
          <svg class="icon modal-btn-icon" width="10" height="15">
            <use href="./images/icons/sprite.svg#icon-btn-bracket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
