<section class="adventages__section" id="how-its-made">
  <div class="container">
    <h2 class="visually-hidden">advatages</h2>
    <ul class="advantages__list">
      <li class="advatages__list-item first-icon">
        <p class="list__tittel">721</p>
        <span class="tittel__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advatages__list-item second-icon">
        <p class="list__tittel">16KG</p>
        <span class="tittel__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="advatages__list-item third-icon">
        <p class="list__tittel">84</p>
        <span class="tittel__text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
    </ul>
  </div>
</section>
