<section class="adventages__section">
<ul class="advantages__list">
    <li class="advatages__list-item"><picture>
        <source srcset="../src/images/advantages/icon1-1x.png 1x, ../src/images/advantages/icon1-2x.png 2x (min-whidth 480px)">
        <img class="advatages__img" src="../src/images/advantages/icon1-1x.png"  alt="">
    </picture>
    <p class="list__tittel">721</p>
    <span class="tittel__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span>
</li>
    <li class="advatages__list-item">
       
        <picture>
        <source srcset="../src/images/advantages/icon2-1x.png 1x, ../src/images/advantages/icon2-2x.png 2x (min-whidth 480px)">
        <img class="advatages__img" src="../src/images/advantages/icon2-1x.png" alt="">
    </picture>
    <p class="list__tittel">16KG</p>
        <span class="tittel__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span></li>
    <li class="advatages__list-item">
        <picture>
        <source srcset="../src/images/advantages/icon3-1x.png 1x, ../src/images/advantages/icon3-2x.png 2x (min-whidth 480px)">
        <img class="advatages__img" src="../src/images/advantages/icon3-1x.png" alt="">
    </picture>
    <p class="list__tittel">84</p>
        <span class="tittel__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span></li>
</ul>

</section>