<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="cafe-list">
      <li class="cafe-list-item">
        <div>
          <p>CAFE</p>
          <div>
            <h3 class="cafe-list-title">Chicago</h3>
            <p class="cafe-list-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul>
            <li>
              <h3 class="cafe-list-title">Monday - Friday</h3>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="cafe-list-title">Saturday - Sunday</h3>
              <p>08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li><a href="">+61(0) 383 766 284</a></li>
            <li><a href="">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
      <li class="cafe-list-item">
        <div>
          <p>FOOD TRUCK</p>
          <div>
            <h3 class="cafe-list-title">Los Angeles</h3>
            <p class="cafe-list-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul>
            <li>
              <h3 class="cafe-list-title">Monday - Friday</h3>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="cafe-list-title">Saturday - Sunday</h3>
              <p>08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li><a href="">+61(0) 383 766 284</a></li>
            <li><a href="">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
      <li class="cafe-list-item">
        <div>
          <p>CAFE</p>
          <div>
            <h3 class="cafe-list-title">New York</h3>
            <p class="cafe-list-description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <ul>
            <li>
              <h3 class="cafe-list-title">Monday - Friday</h3>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="cafe-list-title">Saturday - Sunday</h3>
              <p>08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul>
            <li><a href="">+61(0) 383 766 284</a></li>
            <li><a href="">noreply@envato.com</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul>
      <li><button>Our Locations</button></li>
      <li><button>Franchise</button></li>
    </ul>
  </div>
</section>
