<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="cafe-list">
      <li class="cafe-list__item">
        <p class="cafe-list__pretitle">CAFE</p>
        <div class="wrapper">
          <h3 class="cafe-list__title">Chicago</h3>
          <p class="cafe-list__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="wrapper">
          <ul class="work-days-list">
            <li class="work-days-list__item">
              <p class="work-days-list__days">Monday - Friday</p>
              <p class="work-days-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="work-days-list__item">
              <p class="work-days-list__days">Saturday - Sunday</p>
              <p class="work-days-list__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <div class="wrapper wrapper--no-padding">
          <ul class="contacts-list">
            <li class="contacts-list__item">
              <a class="contacts-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="contacts-list__item">
              <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="cafe-list__item">
        <div>
          <p class="cafe-list__pretitle cafe-list__pretitle--green">FOOD TRUCK</p>
          <div class="wrapper">
            <h3 class="cafe-list__title">Los Angeles</h3>
            <p class="cafe-list__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="wrapper">
            <ul class="work-days-list">
              <li class="work-days-list__item">
                <p class="work-days-list__days">Monday - Friday</p>
                <p class="work-days-list__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work-days-list__item">
                <p class="work-days-list__days">Saturday - Sunday</p>
                <p class="work-days-list__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="wrapper wrapper--no-padding">
            <ul class="contacts-list">
              <li class="contacts-list__item">
                <a class="contacts-list__link" href="">+61(0) 383 766 284</a>
              </li>
              <li class="contacts-list__item">
                <a class="contacts-list__link" href="">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="cafe-list__item">
        <div>
          <p class="cafe-list__pretitle">CAFE</p>
          <div class="wrapper">
            <h3 class="cafe-list__title">New York</h3>
            <p class="cafe-list__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="wrapper">
            <ul class="work-days-list">
              <li class="work-days-list__item">
                <p class="work-days-list__days">Monday - Friday</p>
                <p class="work-days-list__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="work-days-list__item">
                <p class="work-days-list__days">Saturday - Sunday</p>
                <p class="work-days-list__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="wrapper wrapper--no-padding">
            <ul class="contacts-list">
              <li class="contacts-list__item">
                <a class="contacts-list__link" href="">+61(0) 383 766 284</a>
              </li>
              <li class="contacts-list__item">
                <a class="contacts-list__link" href="">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <ul class="contacts-buttons-list">
      <li class="contacts-buttons-list__item">
        <button type="button" class="contacts-button" data-modal-open>
          Our Locations
          <svg class="icon" width="10" height="15">
            <use href="images/icons/sprite.svg#icon-btn-bracket"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-buttons-list__item">
        <button type="button" class="contacts-button contacts-button--inverse">
          Franchise
          <svg class="icon" width="10" height="15">
            <use href="images/icons/sprite.svg#icon-btn-bracket"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="backdrop-contacts is-hidden" data-modal>
    <div class="map-modal">
      <button type="button" class="map-modal__button" data-modal-close>
        <svg class="icon" width="20" height="20">
          <use href="images/icons/sprite.svg#icon-close2"></use>
        </svg>
      </button>
      <a
        href="https://www.google.com/maps/d/u/0/edit?mid=1nujIqbsP83kqXP_S989DxKpL3wmDsUb-&usp=sharing"
        class="map-modal__link"
        target="_blank"
      >
        <div class="map-modal-wrapper">
          <img src="images/contacts/map2.jpg" alt="map" width="500" />
          <p class="map-modal__text map-link-button">View in Google Maps</p>
        </div>
      </a>
    </div>
  </div>
</section>
