<section class="hero">
    <!-- Header -->
    <header>
        <div class="container container--header ">
            <nav class="nav">
                <a href="./index.html" class="logo">
                    <picture>
                        <source srcset="./images/header/logo-1x.png 1x, ./images/header/logo-2x.png 2x"
                            type="image/png" />
                        <img class="header-logo" />
                    </picture>
                </a>
                <div class="backdrop is-hidden" backdrop>
                </div>
                <div class="container--mobile js-menu-container" id="mobile-menu">
                    <button type="button" class="button__close js-close-menu" backdrop-close>
                        <svg width="14" height="14">
                            <use href="./images/icons/sprite.svg#icon-close" class="icon"></use>
                        </svg>
                    </button>
                    <button type="button" class="button__buy-now button__buy-now--tablet">
                        Buy now &nbsp; &nbsp; &nbsp;
                        <svg width="10" height="15">
                            <use href="./images/icons/sprite.svg#icon-btn-bracket" class="icon icon--header"></use>
                        </svg>
                    </button>
                    <ul class="menu__nav">
                        <li class="menu__list">
                            <a href="./index.html" class="menu__link current">Home</a>
                        </li>
                        <li class="menu__list">
                            <a href="#about-us" class="menu__link">About us</a>
                        </li>
                        <li class="menu__list">
                            <a href="#how-its-made" class="menu__link">How it’s made?</a>
                        </li>
                        <li class="menu__list">
                            <a href="#our-products" class="menu__link">Our products</a>
                        </li>
                        <li class="menu__list">
                            <a href="#contacts" class="menu__link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="nav__main">
                    <ul class="nav__part">
                        <li class="nav__list">
                            <a href="./index.html" class="nav__link-header current">Home</a>
                        </li>
                        <li class="nav__list">
                            <a href="#about-us" class="nav__link-header">About us</a>
                        </li>
                        <li class="nav__list">
                            <a href="#how-its-made" class="nav__link-header">How it’s made?</a>
                        </li>
                        <li class="nav__list">
                            <a href="#our-products" class="nav__link-header">Our products</a>
                        </li>
                        <li class="nav__list">
                            <a href="#contacts" class="nav__link-header">Contact</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="button__open hamburger hamburger--spin js-open-menu" aria-expanded="false"
                    aria-controls="mobile-menu" backdrop-open>
                    <!-- <svg class="menu__icons">
                        <use href="./images/icons/sprite.svg#icon-burger-2"></use>
                    </svg> -->
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <button type="button" class="button__buy-now ">
                    Buy now &nbsp; &nbsp; &nbsp;
                    <svg width="10" height="15">
                        <use href="./images/icons/sprite.svg#icon-btn-bracket" class="icon icon--header"></use>
                    </svg>
                </button>
            </nav>
        </div>
    </header>
    <!-- Hero -->
    <div class="container container-hero">
        <picture>
            <sourse srcset="/images/icecream_hero.png 1x, /images/icecream_hero@2x.png 2x" type="img/png">
                <img class="hero-ice" src="/images/icecream_hero.png" alt="Морозиво" />
                <sourse srcset="/images/sosna/ellipse.png 1x, /images/ellipse2x.png 2x" type="img/png">
                    <img class="hero-ellipce" src="/images/ellipse.png" alt="Еліпс" />
        </picture>
        <h1 class="hero-title"> ice cream made with <span class="hero-span">passion</span> </h1>
        <ul class="hero-list">
            <li class="name-product">
                <button class="hero-button hero-button--inverse">Products</button>
            </li>
            <li class="name-made">
                <button class="hero-button">How it’s made?</button>
            </li>
        </ul>
        <div class="hero-amouth">
            <ul class="hero-date">
                <li class="hero-item">
                    <p class="hero-number">16</p>
                    <p class="hero-name">cafes</p>
                </li>
                <li class="hero-item">
                    <p class="hero-number">23</p>
                    <p class="hero-name">food trucks</p>
                </li>
            </ul>
            <picture>
                <sourse srcset="/images/girl.png 1x, /images/girl@2x.png 2x" type="img/png">
                    <img class="hero-girl" src="/images/girl.png" alt="Дівчина" />
            </picture>
        </div>
        <div class="bioeco">
            <picture>
                <sourse srcset="/images/milk.png 1x, /images/milk@2x.png 2x" type="img/png">
                    <sourse srcset="/images/milk.webp 1x, /images/milk@2x.webp 2x" type="img/webp">
                        <img class="bioeco-img" src="/images/milk.png" alt="Молоко" />
            </picture>
            <p class="hero-text">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et
            </p>
            <a href class="hero-arrow">
                <svg class="hero-icon icon" width="10" height="10" aria-label="Стрілка вправо">
                    <use href="/images/icon/IceCreamIcons.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>

    </div>
    <a href="/#" class="scroll-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
</section>