<section class="products" id="our-products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <DIV class="hidden-animation">
      <h2 class="products__title slidein">products</h2>
    </DIV>
    <ul class="products__card-set">
      <li class="products__card products__ice-cream-box">
        <h3 class="products__item">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <button type="button" class="products__btn">
            <svg class="icon products__icon" width="20" height="20">
              <use href="images/icons/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
      </li>

      <li class="products__card products__ice-coffee-box">
        <h3 class="products__item">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <button type="button" class="products__btn">
          <svg class="icon products__icon" width="20" height="20">
            <use href="images/icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__card products__milkshakes-box">
        <h3 class="products__item">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <button type="button" class="products__btn">
          <svg class="icon products__icon" width="20" height="20">
            <use href="images/icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
