<section class="reviews">
    <div class="container reviews-box">
        <h2 class="reviews-section-title visually-hidden">Customer reviews</h2>
            <div class="slider">
                <div class="reviews-card">
                    <img class="reviews__img" srcset="../src/images/customer-reviews/slider-girl1-2x.png 2x"
                    src="../src/images/customer-reviews/slider-girl1-1x.png" alt="lady-foto1">
                    <div class="reviews-box__description">
                        <div class="reviews-box__description-wrapper">
                            <p class="reviews-box__description-item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In
                                hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div class="reviews-title">
                        <p class="reviews-title__item">Courtney, Birmingham</p>
                    </div>
                </div>
                <div class="reviews-card">
                    <img class="reviews__img" srcset="../src/images/customer-reviews/slider-girl2-2x.png 2x"
                        src="../src/images/customer-reviews/slider-girl2-1x.png" alt="lady-foto2">
                    <div class="reviews-box__description">
                        <div class="reviews-box__description-wrapper">
                            <p class="reviews-box__description-item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In
                                hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div class="reviews-title">
                        <p class="reviews-title__item">Jennifer, Los Angeles</p>
                    </div>
                </div>
                <div class="reviews-card">
                    <img class="reviews__img" srcset="../src/images/customer-reviews/slider-girl3-2x.png 2x"
                        src="../src/images/customer-reviews/slider-girl3-1x.png" alt="lady-foto3">
                    <div class="reviews-box__description">
                        <div class="reviews-box__description-wrapper">
                            <p class="reviews-box__description-item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam sem. In
                                hendrerit nulla
                                quam nunc, accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                            <div class="gradient"></div>
                        </div>
                    </div>
                    <div class="reviews-title">
                        <p class="reviews-title__item">Lisa, Los Angeles</p>
                    </div>
                </div>
            </div>
    </div>
</section>