<section class="reviews" id="">
    <div class="container reviews-box">
        <div class="img-wrapper">
            <img class="reviews__img" src="../src/images/customer-reviews/slider-girl1-1x.png" alt="lady-foto1"> 
        </div>
        <div class="reviews-box__description">
            <div class="reviews-box__description-wrapper">
                <p class="reviews-box__description-item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla
                quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
                <div class="gradient"></div>
            </div> 
        </div>
       <div class="reviews-title__wrapper">
            <div class="reviews-title">
                <div class="reviews-title__item-wrapper">
                    <p class="reviews-title__item">Emily, Los Angeles</p>
                    <form class="form">
                        <label>
                            <input type="radio" />
                        </label>
                        <label>
                            <input type="radio" />
                        </label>
                        <label>
                            <input type="radio" />
                        </label>
                    </form>
                </div>
            </div>
       </div>
       </ul>
    </div>
</section>