<section class="reviews-section">
    <div class="container">
       <ul reviews-card>
        <li class="reviews__img">
            <img src="../src/images/customer-reviews/slider-girl1-1x.png" alt="lady-foto">
        </li>
        <li class="reviews-description">
            <p class="reviews-description__item">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla
                quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
        </li>
        <li class="reviews-title">
            <p class="reviews-title__item">Emily, Los Angeles</p>
            <!-- <div class="reviews-title__slider">
                <svg class="reviews-title__icon" width="12" height="12">
                    <use href="../src/images/icons/home.svg">
                    </use>
                </svg>
            </div> -->
        </li>
       </ul>
    </div>
</section>