.contacts {
  // background-color: var(--background-secondary-color);
  background-image: linear-gradient(to bottom, #ffffff 5.5%, #fff5f6 5.5%);
  padding-bottom: 113px;
}

.cafe-list {
  margin-bottom: 54px;
}

.cafe-list__item {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 20px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: var(--white-color);

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cafe-list__pretitle {
  display: inline-block;
  padding: 0 25px;

  border-radius: 4px;

  @include font(12px, 500, 1.8333, 0.04em);
  text-align: center;

  color: var(--white-color);
  background-color: var(--card-coffee-color);

  &--green {
    background-color: var(--card-green-color);
  }
}

.cafe-list__title {
  margin-bottom: 10px;

  @include font(12px, 500, 1.833, 0.04em);
  color: var(--black-color);
}

.cafe-list__description {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;

  color: var(--text-color);
}

.wrapper {
  padding: 25px 0;
  border-bottom: 1px solid var(--secondary-comment-color);

  &--no-padding {
    padding-bottom: 0;
    border: none;
  }
}

.work-days-list__days {
  @include font(12px, 500, 1.833, 0.04em);
  color: var(--black-color);
}

.work-days-list__time {
  @include font(12px, 500, 1.833, 0.04em);
  color: var(--secondary-title-color);
}

.contacts-list__link {
  @include font(12px, 500, 1.5, 0.04em);
  color: var(--text-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  padding-top: 11px;
  padding-bottom: 11px;

  border: 0;
  border-radius: 22px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3125;

  color: var(--white-color);
  background-color: var(--primary-title-color);
  cursor: pointer;

  &--inverse {
    color: var(--primary-title-color);
    background-color: var(--white-color);
  }

  & .icon {
    margin-left: 8px;
  }
}

.contacts-buttons-list__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
