.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}
// .nav-mobile {
//   display: flex;
// }
.menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
  color: var(--white-color);
}
.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e18298;
  height: 42px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.285;
}
.current {
  color: var(--primary-title-color);
}
.menu__buy-now {
  display: inline-block;
  border-color: transparent;
  width: 209px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;

  color: var(--primary-title-color);
  background-color: var(--white-color);
  border-radius: 22px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
}
.menu__open {
  display: inline-block;
  border-color: transparent;
  background-color: transparent;
  width: 20px;
  height: 12px;
  cursor: pointer;
}

.header-logo {
  width: 199px;
  height: 50px;
  margin-top: 6px;
}

.container--mobile {
  position: fixed;
  background-color: #e17992;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transform: translateX(100%);
  @extend %transition_1;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  @include desktop {
    display: none;
  }
}
.container--mobile.is-open {
  transform: translateX(0);
}

.menu__close {
  width: 14px;
  height: 14px;
  border-color: transparent;

  margin: 23px 34px 23px;
  margin-left: auto;
}
