.container-hero {
  @include tablet {
    width: 768px;
    min-height: 291px;
    position: relative;
    /* padding-left: 15px;
    padding-right: 15px;*/
  }

  @include desktop {
    width: 1200px;
    min-height: 504px;
    position: relative;
    /* padding-left: 15px;
    padding-right: 15px;*/
  }
}

.hero {
  // width: 100%;
  background: var(--background-hero-color);
  // height: 502px;
  // margin-left: auto;
  //margin-right: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 160px;

  @include tablet {
    padding-bottom: 0px;
  }

  @include desktop {
    padding-bottom: 0px;
  }
}

.hero-title {
  width: 218px;
  margin-top: 137px;
  margin-bottom: 19px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;

  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);

  position: relative;
  z-index: 3;

  @include tablet {
    width: 162px;
    //height: 80px;
    //padding-top: 102px;
    margin: 0px;

    font-size: 22px;
    line-height: 1.136;

    position: relative;
    z-index: 3;
  }

  @include desktop {
    width: 277px;
    //height: 137px;
    //padding-top: 171px;
    //margin: 0px;

    font-size: 38px;
    line-height: 1.158;

    position: relative;
    z-index: 3;
  }
}

.hero-span {
  font-size: 48px;
  line-height: 0.958;

  color: var(--primary-title-color);
  //padding-top: 19px;
  position: relative;
  z-index: 3;
  //margin-top: 30px;

  @include tablet {
    font-size: 34px;
    line-height: 0.912;
    letter-spacing: 0.04em;

    color: var(--primary-title-color);
    padding-top: 20px;
    position: relative;
    z-index: 3;
    margin-top: 30px;
  }
  @include desktop {
    font-size: 58px;
    line-height: 0.897;

    color: var(--primary-title-color);
    padding-top: 30px;
    position: relative;
    z-index: 3;
    margin-top: 50px;
  }
}

.hero-ellipce {
  width: 346px;
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);

  @include tablet {
    width: 324px;
    left: 60%;
    top: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    //left: 63%;
    // margin-top: 31px;
    // margin-bottom: 46px;
    // margin-left: 280px;
    // margin-right: 137px;
    // position: absolute;
  }

  @include desktop {
    width: 538px;
    top: 183px;
    position: absolute;
    transform: translate(-50%, -50%);
    // //height: 538px;
    //left: 63%;
    // margin-left: 475px;
    // margin-right: 267px;
    // margin-top: 53px;
    // margin-bottom: 75px;
  }
}

.hero-button {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--primary-title-color);
  background-color: var(--white-color);
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
  margin-right: 8px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  position: relative;
  z-index: 3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    font-size: 14px;
    line-height: 1.29;
    margin-right: 17px;
    padding: 11px 22px;
    height: 40px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
    transition: all 250ms ease-in-out;
    outline: none;
    cursor: pointer;
  }
}

.hero-button--inverse {
  color: var(--white-color);
  background-color: var(--primary-title-color);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}

.hero-ice {
  position: absolute;
  width: 171px;
  height: 410px;

  top: 23%;
  left: 20%;
  transform: translate(-50%, -50%);
  @extend %transition_1;

  @media screen and (max-width: 767px) {
    position: absolute;
    width: 171px;
    height: 410px;

    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    // margin-left: 117px;
    // margin-top: 92px;
    // margin-right: 32px;
    z-index: 1;
    // transition: width 0.3s ease-in-out;
  }
  @include tablet {
    position: absolute;
    width: 143px;
    height: 336px;
    margin-left: 267px;
    margin-top: 55px;
    margin-right: 267px;
    z-index: 2;
  }
  @include desktop {
    position: absolute;
    width: 236px;
    height: 557px;
    margin-left: 480px;
    margin-top: 130px;
    margin-right: 247px;
    z-index: 2;
  }
}
.hero-ice:hover {
  animation: ice-anime 1500ms linear;
}

.hero-text {
  @include tablet {
    width: 114px;
    height: 48px;
    margin-left: 120px;
    margin-top: -86px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-color);
    position: absolute;
    z-index: 2;
  }
  @include desktop {
    width: 200px;
    height: 78px;
    margin-left: 200px;
    margin-top: -150px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white-color);
    position: absolute;
    z-index: 2;
  }
}

.hero-list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 25px;
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 25px;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 20px;
  }
}

.hero-arrow {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-left: 124px;
    margin-top: -30px;
  }
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-left: 200px;
    margin-top: -60px;
  }
}

.hero-arrow:hover,
.hero-arrow:focus,
.hero-icon:hover,
.hero-icon:focus {
  color: var(--white-color);
  transform: rotate(360deg);
  transition: all 250ms ease-in-out;
  box-shadow: 0 0 35px 10px rgb(255 255 255 / 80%);
}

.hero-girl {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    display: block;
    width: 168px;
    height: 133px;
    position: absolute;
    margin-left: 533px;
    z-index: 2;
    margin-top: 83px;
  }
  @include desktop {
    display: block;
    width: 293px;
    height: 232px;
    position: absolute;
    margin-left: 770px;
    z-index: 2;
    margin-top: 95px;
  }
}

.hero-date {
  @include tablet {
    display: block;
    margin-top: -130px;
  }
  @include desktop {
    display: block;
    margin-top: -200px;
  }
}

.hero-name {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: var(--white-color);
    text-align: right;
    margin: 0;
  }
  @include desktop {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: var(--white-color);
    text-align: right;
    margin: 0;
    padding-bottom: 18px;
  }
}

.hero-amouth {
  @include tablet {
    position: relative;
    margin-left: auto;
    margin-right: 8px;
  }
  @include desktop {
    position: relative;
    margin-left: auto;
    margin-right: 5px;
  }
}

.hero-icon {
  @include tablet {
    fill: var(--primary-title-color);
  }
  @include desktop {
    fill: var(--primary-title-color);
  }
}

.hero-number {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin: 0;
    position: relative;
    z-index: 1;
  }
}

.hero-number:after {
  @include tablet {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    left: 41px;
    bottom: 15px;
    z-index: -1;
    margin-left: 643px;
  }
}

.hero-number {
  @include desktop {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-title-color);
    margin: 0;
    position: relative;
    z-index: 1;
  }
}

.hero-number:after {
  @include desktop {
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    left: 35px;
    bottom: 25px;
    z-index: -1;
    margin-left: 995px;
  }
}

.bioeco {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    width: 124px;
    height: 126px;
    margin-top: 59px;
    margin-bottom: 28px;
    position: absolute;
    z-index: 2;
  }
  @include desktop {
    width: 188px;
    height: 191px;
    margin-top: 150px;
    position: absolute;
    z-index: 2;
  }
}

.bioeco-img {
  @include desktop {
    width: 188px;
    height: 191px;
    margin-top: -50px;
  }
}

// Section
