
.products{
    padding-top: 121px;
}

.products__subtitle{
  @include font(18px, 400, 1.166, 0.03em);
    font-family: 'Titan One';
    color:var(--secondary-title-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

  @include tablet {
  @include font(26px, 400, 1.153, 0.03em);
  }

  @include desktop {
  @include font(30px, 400, 1.133, 0.04em);
  }  
}
  
.products__title{
  @include font(34px, 400, 1.147, 0.04em);
    font-family: 'Titan One';
    color:var(--primary-title-color);
    text-align: center;
    text-transform: uppercase;

  @include tablet {
  @include font(48px, 400, 1.145, 0.04em);
  } 

  @include desktop {
  @include font(58px, 400, 1.137, 0.06em);
  }  

}
.products__card-set{
  margin-bottom: 98px;
  width: 100%;


   @include tablet {
     display: flex;
     flex-wrap: nowrap;
     margin-bottom: 112px;
     margin-left: -20px;
   }

    @include desktop {
    margin-bottom: 119px;
    margin-left: -24px;

    } 
}
.products__card{
 
  width: 280px;
  height: 485px;
  margin-top: 144px;
  border-radius: 24px;
 
  margin-right: auto;
  margin-left: auto;

    @include tablet {
   
    height: 485px;
    margin-top: 150px;
    margin-left: 20px;
    flex-basis: calc((100% - 60px) / 3);
    }


    @include desktop {

    height: 525px;
    margin-top: 259px;
    margin-left: 24px;
    flex-basis: calc((100% - 72px) / 3);
    }

  }


.products__ice-cream-box{
  
  background-color:var(--background-hero-color);
   position: relative;

  &::before{
    display: block;
    width: 249px;
    height: 252px;
   
    position: absolute;
    content: '';
    background-image: url(../images/products/home-pic1-mob-1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    left: 6%;
    

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic1-mob-2x.png);
  }

  @include tablet{

    width: 220px;
    height: 224px;
    left: 2%;
    background-image: url(../images/products/home-pic1-tablet-1x.png);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic1-tablet-2x.png);
  }

  }
  @include desktop {
    width: 335px;
    height: 335px;
    left: 1%;
     top: -10%;

    background-image: url(../images/products/home-pic1-desktop-1x.png);
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic1-desktop-2x.png);
  }

  }

  }

}

.products__ice-coffee-box{
  background-color:var(--card-coffee-color);
  position: relative;
   
  &::before{
    display: block;
    width: 249px;
    height: 252px;
    position: absolute;
    content: '';
    background-image: url(../images/products/home-pic2-mob-1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    left: 6%;
 
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic2-mob-2x.png);
  }

  @include tablet{
  width: 220px;
  height: 224px;
  left: 2%;
  background-image: url(../images/products/home-pic2-tablet-1x.png);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic2-tablet-2x.png);
  }

  }
  @include desktop {
    width: 335px;
    height: 335px;
    left: 1%;
     top: -10%;
    background-image: url(../images/products/home-pic2-desktop-1x.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic2-desktop-2x.png);
  }

  }

  }


}

.products__milkshakes-box{
  background-color:var(--card-green-color);
  position: relative;
   

  &::before{
  display: block;
  width: 249px;
  height: 252px;
  
  position: absolute;
  content: '';
  background-image: url(../images/products/home-pic3-mob-1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  left: 6%;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: url(../images/products/home-pic3-mob-2x.png);
  }

  @include tablet{
  width: 220px;
  height: 224px;
  left: 2%;

    background-image: url(../images/products/home-pic3-tablet-1x.png);

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic3-tablet-2x.png);
  }

  }
  @include desktop {
    width: 335px;
    height: 335px;
    left: 1%;
    top: -10%;
    background-image: url(../images/products/home-pic3-desktop-1x.png);
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/products/home-pic3-desktop-2x.png);
  }

  }

  }
}

.products__item{
  @include font(20px, 400, 1.15, 0.04em);
    font-family: 'Titan One';
    color:var(--white-color);
    text-align: center;
    text-transform: uppercase;
    padding-top: 161px;
    padding-bottom: 30px;

  @include tablet {
    padding-top: 152px;
  }

  @include desktop {
  @include font(30px, 400, 1.133, 0.04em);
  padding-top: 163px;
  padding-bottom: 32px;
  }  

       &::after{
    position: absolute;
    width: 26px;
    height: 6px;
    content: '';
    background-image:url(../images/icons/three-dots.svg);
    color:var(--white-color);
    background-position: center;
    background-repeat: no-repeat;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
       }

}

.products__description{
  position: relative;
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 40px;

 
  @include font(14px, 700, 1.5, 0.04em);
    color:var(--white-color);
    text-align: center;


  @include tablet {
  @include font(14px, 700, 1.785, 0.04em);

  margin-right: 11px;
  margin-left: 11px;
  }   

  @include desktop {
  @include font(16px, 700, 1.75, 0.04em);
  margin-top: 32px;
  margin-right: 44px;
  margin-left: 44px;
  }

   
}

//Кнопка//

.products__btn{
  
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  color: var(--primary-title-color);
  margin:30px 120px 40px 120px;
  border: 0px;
  background-color: var(--white-color);

    @include tablet {
      margin:40px 90px 40px 90px;
    }

    @include desktop {
       margin: 62px 140px 50px 140px;
    }

}