// Img
.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 29px;
}

.reviews__img {
  width: 85px;
  height: 85px;
}

// description block
.reviews-description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 308px;

  background-color: var(--background-comment-color);

  @include tablet {
    width: 620px;
    height: 164px;
  }

  @include desktop {
    width: 926px;
    height: 138px;
  }
}

.reviews-description__wrapper {
  padding-top: 44px;
  padding-bottom: 26px;
  padding-left: 57px;
  padding-right: 64px;
}

.reviews-description::before {
  position: absolute;

  top: 28px;
  left: 61px;

  content: '';

  width: 54px;
  height: 40px;

  background-image: url('../images/icons/brackets.svg');

  background-size: 54px 40px;

  @include tablet {
    top: 30px;
    left: 40px;
  }
}

.reviews-description__item {
  position: relative;

  width: 157px;
  height: 239px;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;

  color: var(--black-color);

  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 30px
  );

  @include tablet {
    width: 544px;
    height: 106px;

    font-size: 14px;
    font-weight: 500;
    line-height: 2.55;
    letter-spacing: 0.04em;
    text-align: center;

    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      transparent 1px,
      transparent 37px
    );
  }

  @include desktop {
    width: 822px;
    height: 74px;

    font-size: 16px;

    line-height: 2.55;
    letter-spacing: 0.04em;
    text-align: center;

    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      transparent 1px,
      transparent 37px
    );
  }
}

// title block

.reviews-title {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 86px;

  width: 172px;
  height: 89px;
}

.reviews-title__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;

  text-align: center;
}

.reviews-title__item::before {
  position: absolute;

  content: '';

  top: 0;
  left: 50%;

  margin-bottom: 18px;
  width: 34px;
  height: 4px;

  background-image: url('../images/icons/red-ellipsis.svg');
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-title__item-wrapper {
  padding-bottom: 30px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
