.reviews__img {
  margin-top: 80px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;

  width: 85px;
  height: 85px;
}

.reviews-description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 308px;

  background-color: var(--background-comment-color);
}

.reviews-description::before {
  position: absolute;

  top: 28px;
  left: 61px;

  content: '';

  width: 54px;
  height: 40px;

  background-image: url('../images/icons/brackets.svg');

  background-size: 54px 40px;
}

.reviews-description__item {
  position: relative;

  width: 157px;
  height: 239px;

  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;

  color: var(--black-color);

  background-repeat: no-repeat;
  background-position: center bottom 1px;
  background-size: 100% 1px;
  background-image: linear-gradient(to right, red, blue);
}

.reviews-title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 52px;
  margin-bottom: 128px;
}

.reviews-title__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;

  text-align: center;
}

.reviews-title__item::before {
  position: absolute;

  top: 10px;
  left: 10px;

  width: 32px;
  height: 4px;

  background-image: url('../images/icons/red-ellipsis.svg');
}

// .reviews-title__icon {
//   width: 12px;
//   height: 12px;
// }
